<app-banner></app-banner>

<div class="row center-xs sign-up__heading">
    I am a...
</div>

<div class="row center-xs">
    <img src="/assets/box.svg" width="45" height="45">
</div>
<div class="row center-xs">
    <button class="sign-up__giver"> <a routerLink="/giver-debrief" routerLinkActive="active">Giver</a></button>
</div>

<div class="row center-xs">
    <img src="/assets/basket.svg" width="45" height="45">
</div>
<div class="row center-xs">
    <button class="sign-up__receiver"><a routerLink="/receiver-debrief" routerLinkActive="active">Receiver</a></button>
</div>