<div class="pink-background pink">
    <div class="row center-xs track-ads__title">
        Track your ads
    </div>
</div>


<div #adsInfo>
    <div class="row center-xs track-ads__navigation">
        <button #liveAds class="track-ads__navigation-live">Live ads</button>
        <button #closedAds class="track-ads__navigation-closed">Closed ads</button>
    </div>

    <div class="row center-xs track-ads__message">
        You have helped <span> {{peopleCount}}</span> people.
    </div>
    <div *ngFor="let ad of ads">
        <button class="track-ads__ad" (click)="trackAd(ad.id)">
            <div class="row track-ads__live-ads">

                <div class="col track-ads__live-ads--image">
                    (image)
                </div>
                <div class="col track-ads__live-ads--container">
                    <div class="track-ads__live-ads--title">{{ad.title}}</div>
                    <div class="track-ads__live-ads--description"> {{ad.description}}</div>
                    <div class="track-ads__live-ads--count">
                        <fa-icon [icon]="faEye"></fa-icon>{{viewCount}} views
                    </div>
                </div>
            </div>
        </button>
    </div>

    <div class="row track-ads__closed-ads">
    </div>

    <button class="track-ads__button-track"> <a routerLink="/donate-options" routerLinkActive="active">Donate more</a></button>
</div>


<div #individualAd class="individual-ad">
    <div *ngFor="let ad of selectedAd">
        <div class="row individual-ad__title">
            {{ad.title}}
        </div>
    </div>

    <div class="row individual-ad__progress">
        <img src="/assets/progress.png" height="70">
    </div>

    <div class="track-ads__live-ads--count">
        <fa-icon [icon]="faEye"></fa-icon>{{viewCount}} views
    </div>

    <div class="row individual-ad__question">
        Have you given away this item?

        <div class="row individual-ad__buttons">
            <button class="individual-ad__button" (click)="yes()"> Yes</button>
            <button class="individual-ad__button" (click)="no"> No</button>
        </div>
    </div>

    <div class="row individual-ad__question">
        To who?

        <div class="row individual-ad__question-info">
            *These are people that responded to your ad.
        </div>
        <p-dropdown [options]="peopleResponded" [(ngModel)]="selectedPerson" optionLabel="name"></p-dropdown>
    </div>

    <div class="row">
        <button class="individual-ad__submit-button"> <a routerLink="/donate-options"
                routerLinkActive="active">Submit</a></button>
    </div>
</div>