<app-banner></app-banner>

<div class="row center-xs message__live">
    Your ad is now live!
</div>

<div class="row center-xs message__thanks">
    Thank you for making a difference.
</div>

<div class="row center-xs message__icon">
    <img src="/assets/heart.svg">
</div>


<div class="row center-xs message__buttons">
    <button class="message__button"> <a routerLink="/donate-options" routerLinkActive="active">Donate more</a></button>
    <button class="message__button"> <a routerLink="/track-ads" routerLinkActive="active">Track ads</a></button>
</div>

<div class="row center-xs">
    <button class="message__button red"> <a routerLink="/sign-up" routerLinkActive="active">Return home</a></button>
</div>