<div class="pink-background">
    <div class="row center-xs receiver-debrief__title">
        Receiver debrief
    </div>

    <div class="row center-xs receiver-debrief__info">
        As a receiver, you are expected to:
    </div>
</div>

<div class="row center-xs receiver-debrief__checklist">
    <div class="row">
        <div class="col-xs-2 receiver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col receiver-debrief__checklist-item">
            Always collect the item(s) you've reserved.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 receiver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col receiver-debrief__checklist-item">
            Be on time and prompt with your collection
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 receiver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col receiver-debrief__checklist-item">
            Communicate in a secure way with the Giver when you're interested in an item.
        </div>
    </div>
</div>

<div class="row center-xs">
    <button class="receiver-debrief__button"> <a routerLink="/receive-options" routerLinkActive="active">I'm happy to
            proceed</a></button>
</div>