<div class="pink-background">


    <div class="row center-xs giver-debrief__title">
        Giver debrief
    </div>

    <div class="row center-xs giver-debrief__info">
        As a giver, you are expected to:
    </div>

</div>

<div class="row center-xs giver-debrief__checklist">
    <div class="row">
        <div class="col-xs-2 giver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col giver-debrief__checklist-item">
            Donate items you don't need.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 giver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col giver-debrief__checklist-item">
            Communicate with receiver when they are interested.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 giver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col giver-debrief__checklist-item">
            Organise delivery, pick up or collection
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 giver-debrief__icon">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </div>

        <div class="col giver-debrief__checklist-item">
            With your consent, you contact details will only be shared with your consent.
        </div>
    </div>
</div>

<div class="row center-xs">
    <button class="giver-debrief__button"> <a routerLink="/create-profile" routerLinkActive="active">I'm happy to
            proceed</a></button>
</div>