@import "~@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    background-image: url("/assets/background.png");
    background-size: cover;
    margin: 0;
    height: 100%;
}

.back-button {
    border: none;
    background-color: transparent;
    padding: 8px;
}


.pink-background {
    background-color: rgb(239, 98, 108);
    height: 136px;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 50px;
}

.white-background {
    background-color: white;
}